{% extends 'home/base.html' %} {% block content %}
<div style="height: 100px"></div>
<section class="section-blog" style="margin-top: 2px">
  {% for blog in selected_blog %}
  <div class="card-blog shadow p-3 mb-2 mx-auto">
    <div class="row">
      <div class="col-sm-3">
        <div class="row mb-1 mt-1 ml-1">
          <img
            class="card-img-top rounded-10"
            style="height: auto; width: 98%"
            src="{{ blog.photo.url }}"
            alt="blog"
          />
        </div>
      </div>
      <div class="col-sm-9 border-right mb-1 mt-1">
        <div>
          <h3>{{ blog.title }}</h3>
          <h5>
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp{{ blog.name }}
            &nbsp &nbsp &nbsp<i
              class="fa fa-address-card"
              aria-hidden="true"
            ></i>
            &nbsp{{ blog.university }}
          </h5>
          <h5>
            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp{{ blog.date}}
          </h5>
        </div>
        <div>
          <p>{{ blog.content|slice:":200" }} . . .</p>
        </div>
        <div>
          <a
            href="{% url 'blogview' pk=blog.id %}"
            class="btn btn-primary btn-md"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
  <hr />
  {% endfor %}
  {% if selected_blog.has_other_pages %}
	      <div style="text-align: center;">
	        <ul class="pagination">
	          {% if selected_blog.has_previous %}
	            <li><a href="?page={{ selected_blog.previous_page_number }}">&laquo;</a></li>
	          {% else %}
	            <li class="disabled"><span>&laquo;</span></li>
	          {% endif %}

	          {% for i in selected_blog.paginator.page_range %}
	            {% if selected_blog.number == i %}
	              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	            {% else %}
	              <li><a href="?page={{ i }}">{{ i }}</a></li>
	            {% endif %}
	          {% endfor %}

	          {% if selected_blog.has_next %}
	            <li><a href="?page={{ selected_blog.next_page_number }}">&raquo;</a></li>
	          {% else %}
	            <li class="disabled"><span>&raquo;</span></li>
	          {% endif %}
	        </ul>
	      </div>
	    {% endif %}
</section>



{% endblock %} {% block style %}
<style>
  .card-blog {
    width: 75%;
    align-content: center;
    font-family: "overlockblack";
    text-align: left;
    padding: 40px;
    color: #eee;
    border-radius: 12px;
    background-color: #f9fcff;
    border: #ecc02e;
    border-style: solid;
    border-width: 1px;
    margin-left: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-blog h3 {
    color: black;
    font-weight: 700;
    font-family: Helvetica;
  }
  .card-blog h5 {
    color: black;
    font-weight: 400;
    font-family: Helvetica;
  }
  .card-blog p {
    color: black;
    font-weight: 400;
    font-family: Helvetica;
  }

  .card-blog:hover {
    animation: 1s ease-in-out;
    transform: scale(1.1);
  }
  .section-blog {
    padding-top: 30px;
    padding-bottom: 150px;
  }

  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .card-blog {
      margin-left: 70px;
    }
    .card-blog h3 {
      margin-top: 10px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-blog {
      margin-left: 80px;
      width: 82%;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .card-blog {
      margin-left: 125px;
      width: 80%;
    }
  }
  .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock %}
