{% extends 'home/base.html' %}
{% block nav_item_home %}active{% endblock nav_item_home %}
{% block content %}
{% load staticfiles %}
<section class="probootstrap-section">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
	      <h2>মেধাবী মুখ</h2>
	    </div>
	  </div>
	  <!-- END row -->

	  <div class="row">
      {% for student in student_list %}
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img style="height: 90px;" src="{{ student.photo }}" alt="Free Bootstrap Template by uicookies.com"
              class="img-responsive">
          </figure>
          <div class="text">
            <h3 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> {{student.name}} </h3>
            <p>{{ student.subject }}</p>
            <p>{{ student.university }}-{{student.batch}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

	</div>
</section>
{% endblock %}